header{
    height: 100px;
    background-color: cadetblue ;
}
nav {
    background-color: bisque;
    height: 30px;
}
section{
    background-color: aquamarine;
    width: auto;
    height: 200px;
    margin: 0;

}
article{
    background-color: blueviolet;
    width: auto;
    height: 100px;
    margin: 0;
}
#content{
    float: left;
    width: 70%;
}
aside{
    background-color: darkgreen;
    float: left;
    height: 300px;
    width:30%;
}
footer{
    clear: both;
    height: 100px;
    width: auto;
    background-color: darkgoldenrod;
}